<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<!-- Top Bar -->
<div class="top-bar">
  <span class="welcome-message">
    Bienvenue <span class="name-highlight">{{ userInfo?.name || 'Technicien' }}</span>, voici l'interface du technicien du Centre National de l'Informatique
  </span>
  <span class="technicien-badge">Technicien</span>

  <button class="icon-btn" (click)="toggleDropdown($event)">
    <i class="fas fa-user-gear"></i>
  </button>
  <ul class="dropdown-menu" [ngClass]="{ 'show': dropdownVisible }">
    <li>
      <a routerLink="/profile-technicien">
        <i class="fas fa-user"></i> <span>Profil</span>
      </a>
    </li>
    
    <li class="logout">
      <a href="#" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> <span>Déconnexion</span>
      </a>
    </li>
  </ul>
</div>

<!-- Sidebar -->
<nav class="sidebar">
  <div class="logo-container">
    <img src="assets/img/logo.png" alt="Logo CNI" />
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="/tech-home" routerLinkActive="active">
        <i class="fas fa-home"></i> <span>Accueil</span>
      </a>
    </li>
    <li>
      <a routerLink="/tech_rendezvous" routerLinkActive="active">
        <i class="fas fa-calendar-alt"></i> <span>Rendez-vous</span>
      </a>
    </li>
  </ul>
</nav>