<app-navbar></app-navbar>


<!-- Conteneur principal -->
<div class="content-wrapper">
  <div class="card">
    <div class="card-header">
      <h3 class="title">📌 Détails de la requête</h3>
      <br>
      <p>Référence : {{ reference }}</p>
    </div>
    <div class="card-body">
      <div class="info-grid">
        <div class="info-item">
          <span class="label">📄 Type:</span>
          <span class="value">{{ requetes[0].typeRequete}}</span>
        </div>
       
        <div class="info-item">
          <span class="label">📌 Objet:</span>
          <span class="value">{{ requetes[0].objet}}</span>
        </div>
        <div class="info-item">
          <span class="label">⚡ État:</span>
        
         
          <span class="badge" [ngClass]="getBadgeClass(requetes[0].etat || '')">
            {{requetes[0].etat || 'Non spécifié' }} </span>

        </div>
        <div class="info-item full-width">
          <span class="label">📝 Description:</span>
          <p class="value description">{{ requetes[0].description }}</p>
        </div>
      </div>

      <div class="action-buttons">
        <button class="btn btn-warning" (click)="retour()">
          <i class="fas fa-arrow-left"></i> Retour
        </button>
       
      </div>

     
    </div>
  </div>
</div>
