<app-navbar-admin></app-navbar-admin>
<div class="dashboard-container">
    <!-- Sidebar -->
  
  
    <!-- Contenu principal du Dashboard -->
    <div class="main-content">
      <div class="top-bar">
        <!-- Barre de navigation supérieure (notifications, profil utilisateur, etc.) -->
        <button class="icon-btn">
          <i class="fa fa-bell"></i>
        </button>
        <button class="icon-btn">
          <i class="fa fa-user"></i>
        </button>
      </div>
  
      <div class="content">
       
        
        <!-- Ajouter des cartes ou des graphiques -->
        <div class="cards-container">
          <div class="card">
            <h2>Total Clients</h2>
            <p>120</p>
          </div>
          <div class="card">
            <h2>Réclamations en cours</h2>
            <p>35</p>
          </div>
          <div class="card">
            <h2>Réclamations traitées</h2>
            <p>150</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  