<div class="center-wrapper">
  <div class="login-wrapper">
    <div class="login-left">
      <img src="assets/logo-cni.png" alt="Login Image" class="login-image" />
    </div>

    <div class="login-right">
      <div class="login-card">
        <h2 class="login-title">Login</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="input-group">
            <label for="email">Email:</label>
            <input type="text" id="email" formControlName="email" required />
          </div>

          <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" required />
          </div>

          <button class="login-btn" type="submit" [disabled]="loading">Log In</button>
          <div class="loader" *ngIf="loading">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>