<app-navbar></app-navbar>
<div class="container">
    <h1>Recherche Avancée</h1>
    
    <div class="form-group">
      <label for="reference">Tapez la référence de votre requête</label>
      <input type="text" id="reference" [(ngModel)]="reference" class="form-control" placeholder="Référence">
    </div>
  
    <div class="form-group">
      <label for="date">Tapez la date d'envoi</label>
      <input type="date" id="date" [(ngModel)]="date" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="statut">Sélectionnez le statut</label>
      <select id="statut" [(ngModel)]="statut" class="form-control">
        <option value="">--Sélectionner le statut--</option>
        <option value="En cours">En cours</option>
        <option value="Traité">Traité</option>
        <option value="Refusé">Refusé</option>
      </select>
    </div>
  
    <button class="btn btn-primary" (click)="rechercheAvancee()">Recherche</button>
  </div>
  