<!-- Logo CNI en haut à gauche -->

  
<div class="center-wrapper">
    <div class="login-wrapper">
      <!-- Section contenant l'image -->
      <div class="login-left">
        <img src="assets/logo-cni.png" alt="Login Image" class="login-image" />
      </div>
  
      <!-- Section contenant le formulaire -->
      <div class="login-right">
        <div class="login-card">
          <h2 class="login-title">signin</h2>

          <form #signInForm="ngForm" (ngSubmit)="onSignIn()">
            <div class="input-group">
              <label for="nom">Nom:</label>
              <input type="text" id="nom" [(ngModel)]="form.nom" name="nom" required />
            </div>
          
            <div class="input-group">
              <label for="email">Email:</label>
              <input type="email" id="email" [(ngModel)]="form.email" name="email" required />
            </div>
          
            <div class="input-group">
              <label for="password">Mot de passe:</label>
              <input type="password" id="password" [(ngModel)]="form.password" name="password" required />
            </div>
          
            <div class="input-group">
              <label for="role">Rôle:</label>
              <select id="role" [(ngModel)]="form.role" name="role" required>
                <option value="client">Client</option>
                <option value="technicien">Technicien</option>
                <option value="guichetier">Guichetier</option>
              </select>
            </div>
          
            <button class="login-btn" type="submit">S'inscrire</button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
  